
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

body {
  height: 100vh;
  background-color: #90c5c7
}
.receipt {
  width: 760px;
  height: 720px;
  background-color: white;

  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -360px; 
  margin-left: -180px;
  box-shadow: 14px 14px 22px -18px;
  padding: 20px
}

.name {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-size: 1.8em;
  margin-top: 10px
}



.order p {
  font-size: 13px;
  color: #aaa;
  padding-left: 10px;
  letter-spacing: .7px
}

hr {
  border: .7px solid #ddd;
  margin: 15px 0;
}

.details {
  padding-left: 10px;
  margin-bottom: 35px;
  overflow: hidden
}

.details h3 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 15px
}

.product {
  float: left;
  width: 83%
}

.product img {
  width: 65px;
  float: left
}

.product .info {
  float: left;
  margin-left: 15px
}

.product .info h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px
}

.product .info p {
  font-size: 12px;
  color: #aaa;
}

.details > p {
  margin-top: 25px;
  font-size: 15px
}

.totalprice p {
  padding-left: 10px
}

.totalprice .sub,
.totalprice .del {
  font-size: 13px;
}

.totalprice span {
  float: right;
  margin-right: 17px
}

.totalprice .tot {
  font-size: 15px
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 135px; 
  color: #aaa
}
