.container{
  text-align: center;
}

img{
  margin-top: 25%;
  
}

input{
 width: 500px;
 height: 35px;
margin: 4px;
padding: 8px;
border 1px solid grey;
border-radius: 25px;
}

.btn1{
  height: 40px;
  width: auto;
  color: #646464;
  background: #F2F2F2;
  border: none;
  cursor: pointer;
  margin: 4px;
}
.btn2{
  height: 40px;
  width: auto;
  color: #646464;
  background: #F2F2F2;
  border: none;
  cursor: pointer;
  margin: 4px;
}
